* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 20px;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#gameplayControl {
    float: right;
}